{% load static %}


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow sticky-top p-0" >
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <!-- <h2 class="m-0 "><i class="fa fa-book me-3"></i>iQra <br/> School</h2> -->
        <img class="m-0" src="{% static 'img/iqra.png' %}" alt="" >
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
            <a href="{% url 'courses' %}" class="nav-item nav-link">Courses</a>
            <div class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
                    <a href=" {% url 'ourStudent' %}" class="dropdown-item">Testimonial</a>
                    <a href=" {% url 'coursesCategories' %}" class="dropdown-item">Courses Categories</a>
                </div>
            </div>
            <a href="{% url 'login' %}" class="nav-item nav-link ">LogIn</a>
            <a href="{% url 'applyForAdmission' %}" class="btn text-light py-4 px-lg-5 d-none d-lg-block" style="background-color: #23273c; ">Apply for Admission<i class="fa fa-arrow-right ms-3"></i></a>

        </div>
    </div>
</nav>
<!-- Navbar End -->

