{% extends 'base.html' %}
{% load static %}
{% block title %} Team {% endblock %}

{% block content %} 
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
                <h1 class="mb-5">Expert Instructors</h1>
            </div>
            <div class="row g-4">
                {% for instructor in instructors %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                {% if instructor.image %}
                                    <td>
                                        <img class="img-fluid" style="width: 100%; height: 260px;" src="{{ instructor.image.url }}" alt="{{ cinstructor.image.url }}" >
                                    </td>
                                {% else %}
                                    <td>
                                        <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt="Course Image">
                                    </td>
                                {% endif %}
                            </div>
                            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                    <a class="btn btn-sm-square btn-primary mx-1" href="{{ instructor.facebook }}"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href="{{ instructor.twitter }}"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href="{{ instructor.instagram }}"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">{{ instructor.name }}</h5>
                                <small>{{ instructor.designation }}</small>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->
{% endblock%}



